*{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
}

body{
    background-color: rgb(255, 185, 220);
}

main{
    background-color: rgb(158, 252, 255);
    width: 500px;
    height: 500px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(220, 20, 60);
}

img{
    float: right;
}